# Credenciais e Variáveis de Ambiente (CRÍTICO)
.env
.env.local
.env.production

# Cache e Arquivos Compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais Locais
venv/
.venv/
env/
ENV/

# Configurações de IDEs / Editores de Código
.vscode/
.idea/
*.swp

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db